.addButton {
    background-color: #FFC107;
    border-radius: 8px;
    padding: 11px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    box-shadow: 3px 6px 4px #00000026;
    transition: all ease-in 0.2s;
}

.addButton:hover {
    background-color: #ffc107ab;
}

.addButtonSecondary {
    background: rgba(0, 132, 173, 0.23);
    border-radius: 8px;
    padding: 11px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.15);
}
